In [8]:
#import packages

import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [15]:
#import SQL Connection

import mysql.connector

con = mysql.connector.connect(user='hbs-student', password='super-secure-password?',
                              host='hbs-ds-060120.c1doesqrid0e.us-east-1.rds.amazonaws.com',
                              database='movies')
cur = con.cursor()

# TMDB cleaned ratings

In [17]:
query = """SELECT DISTINCT
    id, title, popularity, vote_average, year(release_date) as year_release
FROM
    tmdb_movies
WHERE
    vote_average > 0 AND vote_Average < 10
        AND popularity > 0
        AND popularity < 50
ORDER BY popularity , vote_average"""
df_tmdb_ratings = pd.read_sql_query(query, con)
df_tmdb_ratings.to_csv('df_tmdb_ratings')

OperationalError: MySQL Connection not available.

# TMDB popularity categorized

In [22]:
df_joint_rev = pd.read_csv('joined_revenue')
#scrubbing data to remove Avatar outlier
df_joint_rev.drop(df_joint_rev[df_joint_rev['movie_title'] == 'Avatar'].index, inplace = True)
#merge ratings with revenue 
df_tmdb_ratings_rev = df_tmdb_ratings.merge(df_joint_rev, how='inner', left_on=[
                                            'title', 'year_release'], right_on=['movie_title', 'release_year'])
df_tmdb_popularity_top100=df_tmdb_ratings_rev.nlargest(100,['popularity'])
df_rev_top100=df_tmdb_ratings_rev.nlargest(100,['worldwide_gross'])
popularity_overlap = df_tmdb_popularity_top100.merge(df_rev_top100, how='inner' )

In [23]:
popularity_overlap_title=list(popularity_overlap['title'])

In [24]:
popularity_overlap_title_cat=['Marvel',
'Harry Potter',
'Marvel',
'Marvel',
'Marvel',
'Marvel',
'Marvel',
'Marvel',
'Marvel',
'Marvel',
'Marvel',
'Marvel',
'Marvel',
'DC Comics',
'Bohemian Rhapsody',
'Disney Animation',
'Disney Animation',
'Marvel',
'Jurassic Park',
'DC Comics',
'Star Wars',
'Hunger Games',
'Marvel',
'Star Wars',
'Hangover',
'Marvel',
'Disney Animation',
'DC Comics',
'Marvel',
'Pirates of the Caribbean',
'James Bond',
'Ready Plater One',
'Mission Impossible',
'King Kong',
'Disney Animation',
'Marvel',
'Interstellar',
'Pirates of the Caribbean',
'DC Comics',
'Inception',
'Gravity',
'DC Comics',
'Planet of the Apes ',
'Disney Animation',
'Dreamworks',
'Lord of the Rings',
'DC Comics',
'Disney Animation',
'Marvel',]

In [25]:
count=[1,
1,
1,
1,
1,
1,
1,
1,
1,
1,
1,
1,
1,
1,
1,
1,
1,
1,
1,
1,
1,
1,
1,
1,
1,
1,
1,
1,
1,
1,
1,
1,
1,
1,
1,
1,
1,
1,
1,
1,
1,
1,
1,
1,
1,
1,
1,
1,
1,]

In [30]:
popularity_overlap={'popularity_overlap_title':popularity_overlap_title,'popularity_overlap_title_cat':popularity_overlap_title_cat,'count':count}
popularity_overlap=pd.DataFrame(popularity_overlap)
popularity_overlap

,popularity_overlap_title,popularity_overlap_title_cat,count
0,Guardians of the Galaxy,Marvel,1
1,Fantastic Beasts: The Crimes of Grindelwald,Harry Potter,1
2,Spider-Man: Homecoming,Marvel,1
3,Logan,Marvel,1
4,Ant-Man and the Wasp,Marvel,1
5,Avengers: Age of Ultron,Marvel,1
6,Black Panther,Marvel,1
7,Venom,Marvel,1
8,Thor: Ragnarok,Marvel,1
9,X-Men: Days of Future Past,Marvel,1
10,Guardians of the Galaxy Vol. 2,Marvel,1
11,Captain America: Civil War,Marvel,1
12,Deadpool 2,Marvel,1
13,Aquaman,DC Comics,1
14,Bohemian Rhapsody,Bohemian Rhapsody,1
15,Big Hero 6,Disney Animation,1
16,Incredibles 2,Disney Animation,1
17,Deadpool,Marvel,1
18,Jurassic World: Fallen Kingdom,Jurassic Park,1
19,Justice League,DC Comics,1
20,Star Wars: The Last Jedi,Star Wars,1
21,The Hunger Games: Mockingjay - Part 1,Hunger Games,1
22,Doctor Strange,Marvel,1
23,Star Wars: The Force Awakens,Star Wars,1
24,The Hangover Part II,Hangover,1
25,Iron Man 3,Marvel,1
26,Beauty and the Beast,Disney Animation,1
27,Wonder Woman,DC Comics,1
28,Thor: The Dark World,Marvel,1
29,Pirates of the Caribbean: On Stranger Tides,Pirates of the Caribbean,1
30,Spectre,James Bond,1
31,Ready Player One,Ready Plater One,1
32,Mission: Impossible - Fallout,Mission Impossible,1
33,Kong: Skull Island,King Kong,1
34,The Lion King,Disney Animation,1
35,Iron Man 2,Marvel,1
36,Interstellar,Interstellar,1
37,Pirates of the Caribbean: Dead Men Tell No Tales,Pirates of the Caribbean,1
38,Batman v Superman: Dawn of Justice,DC Comics,1
39,Inception,Inception,1
40,Gravity,Gravity,1
41,Man of Steel,DC Comics,1
42,Dawn of the Planet of the Apes,Planet of the Apes,1
43,Zootopia,Disney Animation,1
44,How to Train Your Dragon 2,Dreamworks,1
45,The Hobbit: An Unexpected Journey,Lord of the Rings,1
46,The Dark Knight Rises,DC Comics,1
47,Frozen,Disney Animation,1
48,Men in Black 3,Marvel,1

In [31]:
popularity_overlap.to_csv('popularity_overlap')
popularity_overlap=pd.read_csv('popularity_overlap')
popularity_overlap.head()

,Unnamed: 0,popularity_overlap_title,popularity_overlap_title_cat,count
0,0,Guardians of the Galaxy,Marvel,1
1,1,Fantastic Beasts: The Crimes of Grindelwald,Harry Potter,1
2,2,Spider-Man: Homecoming,Marvel,1
3,3,Logan,Marvel,1
4,4,Ant-Man and the Wasp,Marvel,1