In [1]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt

!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /Users/kcahlers/Applications/anaconda3/lib/python3.7/site-packages (8.0.20)
Requirement already satisfied: protobuf>=3.0.0 in /Users/kcahlers/Applications/anaconda3/lib/python3.7/site-packages (from mysql-connector-python) (3.12.2)
Requirement already satisfied: setuptools in /Users/kcahlers/Applications/anaconda3/lib/python3.7/site-packages (from protobuf>=3.0.0->mysql-connector-python) (46.0.0.post20200309)
Requirement already satisfied: six>=1.9 in /Users/kcahlers/Applications/anaconda3/lib/python3.7/site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.14.0)

In [126]:
import mysql.connector

con = mysql.connector.connect(user='hbs-student', password='super-secure-password?',
                              host='hbs-ds-060120.c1doesqrid0e.us-east-1.rds.amazonaws.com',
                              database='movies')
cur = con.cursor()

In [130]:
query1="""select title, popularity, vote_average, vote_count 
production_budget, domestic_gross, worldwide_gross
from tmdb_movies join tn_movie_budgets on title=movie"""
#cur.execute(query,con)
#df=pd.DataFrame(cur.fetchall())
#df.columns = [x[0] for x in cur.description()]
#df
df1 = pd.read_sql_query(query1, con)
df1.head()
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2448 entries, 0 to 2447
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              2448 non-null   object
 1   popularity         2448 non-null   float64
 2   vote_average       2448 non-null   float64
 3   production_budget  2448 non-null   int64
 4   domestic_gross     2448 non-null   object
 5   worldwide_gross    2448 non-null   object
dtypes: float64(2), int64(1), object(3)
memory usage: 114.9+ KB

In [131]:
df1[df1.columns[3:]] = df1[df1.columns[3:]].replace('[\$,]', '', regex=True).astype(float)

In [133]:
df1['profitability'] = df1['worldwide_gross']-df1['production_budget']

In [134]:
df1.head()

,title,popularity,vote_average,production_budget,domestic_gross,worldwide_gross,profitability
0,How to Train Your Dragon,28.734,7.7,7610.0,217581232.0,494870992.0,494863382.0
1,Iron Man 2,28.515,6.8,12368.0,312433331.0,621156389.0,621144021.0
2,Toy Story,28.005,7.9,10174.0,191796233.0,364545516.0,364535342.0
3,Inception,27.920,8.3,22186.0,292576195.0,835524642.0,835502456.0
4,Percy Jackson & the Olympians: The Lightning T...,26.691,6.1,4229.0,88768303.0,223050874.0,223046645.0