# Creating tables that correlate movies to categories and actors to gross box office

In [3]:
#import packages

import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [13]:
#import SQL Connection

import mysql.connector

con = mysql.connector.connect(user='hbs-student', password='super-secure-password?',
                              host='hbs-ds-060120.c1doesqrid0e.us-east-1.rds.amazonaws.com',
                              database='movies')
cur = con.cursor()

# Movie title and category

In [5]:
#Import Movie Box office info
df_joint_rev = pd.read_csv('joined_revenue')
#Limit to top50 performing movies and make a list
df_joint_rev_50_largest=df_joint_rev.nlargest(50,'worldwide_gross')
movie_title_list = list(df_joint_rev_50_largest['movie_title'])

In [8]:
#Manual categorization of top 50 moviesdf_top50_title_descr=pd.DataFrame(df_top50_title_descr)
movie_descr = ['Avatar',
'Titanic',
'Star Wars',
'Marvel',
'Marvel',
'Marvel',
'Marvel',
'Harry Potter',
'Harry Potter',
'Star Wars',
'Star Wars',
'Jurassic Park',
'Disney Animation ',
'Disney Animation ',
'Disney Animation ',
'Disney Animation ',
'Marvel',
'Universal Animation',
'Marvel',
'DC comics',
'Lord of the Rings',
'Marvel',
'Marvel',
'James Bond',
'Marvel',
'DC comics',
'Disney Animation ',
'Pirates of the Carribbean',
'Star Wars',
'Pirates of the Carribbean',
'Jurassic Park',
'Universal Animation',
'Disney Animation ',
'Star Wars',
'Disney Animation ',
'Disney Animation ',
'Disney Animation ',
'Lord of the Rings',
'DC comics',
'Disney Animation ',
'Harry Potter',
'Universal Animation',
'Disney Animation ',
'Pirates of the Carribbean',
'Disney Animation ',
'Jumanji',
'Harry Potter',
'Harry Potter',
'Lord of the Rings',
'Lord of the Rings']
d_top50_title_descr={'movie_title_list':movie_title_list,'movie_descr':movie_descr}

In [11]:
df_top50_title_descr=pd.DataFrame(d_top50_title_descr)
df_top50_title_descr.to_csv('movie_title_descr')

# Q5. who are the best actors/directors etc by box office revenue

In [14]:
query_names="""SELECT DISTINCT
    n.nconst,
    primary_name,
    primary_profession,
    primary_title,
    start_year
FROM
    imdb_title_principals p
        JOIN
    imdb_title_basics t USING (tconst)
        JOIN
    imdb_name_basics n USING (nconst)"""
df_names = pd.read_sql_query(query_names,con)

In [7]:
df_names.to_csv('names_movies')

In [8]:
df_names=pd.read_csv('names_movies')
df_joint_rev = pd.read_csv('joined_revenue')

In [7]:
df_names_rev = df_names.merge(df_joint_rev, how='inner', left_on =['primary_title','start_year'], right_on=['movie_title','release_year'])

In [14]:
df_names_rev.to_csv('df_names_rev')

In [22]:
df_names_rev = pd.read_csv('df_names_rev')

In [26]:
df_names_rev_skinny = df_names_rev.drop(['Unnamed: 0', 'Unnamed: 0_x', 'primary_title','start_year','Unnamed: 0_y','movie_title','production_budget','domestic_gross','release_year'], axis=1)

In [27]:
df_names_rev_grouped = df_names_rev_skinny.groupby(['nconst','primary_name', 'primary_profession']).sum().sort_values(by=['worldwide_gross'], ascending = False)

In [29]:
df_names_rev_grouped.to_csv('rev_by_name')

In [15]:
df_names_rev_grouped=pd.read_csv('rev_by_name')